@{
    ViewBag.Title = "Calendar";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?src=b51uf5hi6bp9pp6t3utvorua2o%40group.calendar.google.com&ctz=America/New_York" 
                style="border: 0" width="800" height="600" frameborder="0" scrolling="no">

        </iframe>
    </div>
</body>
</html>
